@page "/auth/login"

<PageTitle>Login</PageTitle>

<h3>Login</h3>

<p>
    Welkom bij de inlog pagina<br/>
    <a class="text-center" href="/auth/register">Ik heb nog geen account.</a>
</p>

@code {

}
