@page "/auth/register"

<PageTitle>Registreren</PageTitle>



<h3>Registreren</h3>

<p>
    Welkom bij de registratie pagina<br/>
    <a href="/auth/login">Ik heb al een account.</a>
</p>


@code {

}
