@rendermode InteractiveServer

<div id="viewable-map" style="width: 100%; height: 100%;"></div>

@code {
    [Inject]
    IJSRuntime JSRuntime { get; set; }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await this.InitializeMap();
    }

    /// <summary>
    /// Calls the javascript function "initializeViewableMap" with lat/lng parameters.
    /// </summary>
    private async Task InitializeMap() =>
        await JSRuntime.InvokeVoidAsync("initializeViewableMap", 52.3558672, 5.224798);

}
