@rendermode InteractiveServer

<div id="viewable-map"></div>

@code {
    [Inject]
    IJSRuntime JSRuntime { get; set; }

    [Parameter]
    public List<(double Lat, double Lng, string Title)> Coordinates { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await this.InitializeMap();
        await this.DisplayCurrentCoordinates();

        foreach (var coord in this.Coordinates)
        {
            await this.AddMapMarker(coord.Lat, coord.Lng, coord.Title);
        }

    }

    /// <summary>
    /// Calls the javascript function "initializeViewableMap" with lat/lng parameters.
    /// </summary>
    private async Task InitializeMap() =>
        await JSRuntime.InvokeVoidAsync("initializeViewableMap", 52.3558672, 5.224798);

    private async Task AddMapMarker(double lat, double lng, string title) =>
        await JSRuntime.InvokeVoidAsync("addMapMarker", lat, lng, title);

    private async Task DisplayCurrentCoordinates() =>
        await JSRuntime.InvokeVoidAsync("displayCurrentCoordinates", false);

}
