
.filter-section {
    visibility: hidden;
    background-color: #ff7171;
    height: 90vh;
    width: 300px;
    margin-right: 20px;
    color: white;
}

.map-section {
    width: 600px;
    height: 83vh;
    display: inline-block;
    border-radius: 15px;
}

.middle-cards-section {
    display: inline-block;
    height: 90vh;
    overflow-y: auto;
}

.location-selection-holder {
    margin: 0;
    margin-bottom: 20px;
}

.middle-cards-section #enter-location-places-field {
    padding: 5px;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid #d4d9de;
    width: 100%;
    margin-left: -10px;
}
.middle-cards-section #enter-location-places-field:focus {
    outline: none;
    box-shadow: none;
}
.middle-cards-section .form-group {
    display: inline-block;
    width: 60%;
}

.middle-cards-section button {
    width: 33%;
    padding: 3px;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid #d4d9de;
    display: inline-block;
}

@media only screen and (max-width: 600px) {
    .filter-section {
        display: none;
    }

    .map-section {
        margin-bottom: 30px;
        width: 100%;
        height: 350px;
        position: sticky;
        order: 1;
    }

    .middle-cards-section {
        width: 100%;
        height: 40vh;
        order: 2;
    }

    .location-selection-holder {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .location-selection-holder #enter-location-places-field {
        margin-left: 0;
        margin-bottom: 5px;
    }

    .location-selection-holder #enter-location-places-field,
    .location-selection-holder .form-group,
    .location-selection-holder button {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .main {
        flex-direction: column;
    }
}
