@page "/weather"

<PageTitle>Weather</PageTitle>
<h3>weather--- with API</h3>


@if (Weathers == null || Weathers.Count() == 0)
{
    <p><em>Loading...</em></p>
} else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var weather in Weathers)
            {
                <tr>
                    <td>@weather.Date.ToShortDateString()</td>
                    <td>@weather.TemperatureC</td>
                    <td>@weather.TemperatureF</td>
                    <td>@weather.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}


@code {

    /// <summary>
    ///     TEMPORARY!!! JUST FOR TESTING!!!
    /// </summary>

    [Inject]
    protected ApiClient ApiClient { get; set; } = default!;

    private IEnumerable<WeatherForecastDTO> Weathers = new List<WeatherForecastDTO>();

    protected override async Task OnInitializedAsync()
    {
        var weathers = await this.ApiClient.WeatherForecastApiService.GetAll();
        this.Weathers = weathers ?? [];
    }
}
